@if(isShowParent){
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-sm-12 d-flex justify-content-end">
            <button class="btn btn-outline-primary" (click)="goToCreateGateway()">Create Gateway</button>
        </div>
    </div>
    <div class="row pt-3 gap-2">
        @for(item of gatewaysCards; track item.id){
        <div class="col-sm-3">
            <div class="api-card">
                <div class="api-card-above d-flex justify-content-center align-items-center" (click)="goToGatewayViewPage(item.id)">
                    <img src="../../assets/images/logo-krakend.svg" />
                </div>
                <div class="api-card-below">
                    <h3>{{item.name}}</h3>
                    <p>Running on : {{item.port}}</p>
                    
                </div>

            </div>
        </div>
        }
    </div>

</div>
}@else{
<router-outlet></router-outlet>
}