<div class="container">
    <form [formGroup]="formGroupPolicies">
        <div class="row p-2">
            <div class="col-sm-12">
                <h3>Policies</h3>
            </div>
            <div class="col-sm-12">
                <mat-accordion [multi]="true">
                    <mat-expansion-panel (opened)="formGroupPolicies.value.isSpFilterActive">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="d-flex justify-content-between toggle-header">
                                    <div>
                                        Security Policies
                                    </div>
                                    <div>
                                        <mat-slide-toggle class="example-margin" color="blue"
                                            formControlName="isSpFilterActive">
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        @if (formGroupPolicies.value.isSpFilterActive) {

                        <div class="d-flex flex-column gap-1">
                            <div class="row gap-1 feature">

                                <div class="col-sm-12">
                                    <h3>Request Policies</h3>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for="secReqPol" class="form-label">Request Policies &nbsp; &nbsp; <i
                                                class="bi bi-info-circle" [matTooltip]=securityPolTooltip></i></label>
                                        <div class="input-group mb-3">
                                            <input type="text" id="secReqPol" class="form-control"
                                                placeholder="req_params.DocId.starswith('EU')"
                                                aria-label="192.168.0.0/24" aria-describedby="button-addon2"
                                                formControlName="securityReqPolicy">
                                            <button class="btn btn-primary" type="button" id="button-addon2"
                                                (click)="addParameter('securityReqPolicy')"><i
                                                    class="bi bi-plus-lg"></i></button>
                                        </div>
                                        <div class="mt-3 d-flex flex-wrap gap-1">
                                            <button *ngFor="let attr of parameterArraySecReqPolicy; let i = index"
                                                class="parameter-item">
                                                {{ attr }}<mat-icon (click)="removeParameter(i,'securityReqPolicy')"
                                                    class="d-flex align-items-center justify-content-end">close</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-4">
                                        <label for="errorStCode1" class="form-label">Error status code &nbsp; <i
                                                class="bi bi-info-circle" [matTooltip]=securityPolTooltip></i></label>
                                        <input id="errorStCode1" type="number" class="input-size form-control"
                                            formControlName="secReqErrorStCode" placeholder="400" />
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <!-- <p>Error body</p> -->
                                        <label for="errorBody1" class="form-label">Error body &nbsp; <i
                                                class="bi bi-info-circle" [matTooltip]=securityPolTooltip></i></label>
                                        <input id="errorBody1" type="text" class="input-size form-control"
                                            formControlName="secReqErrorBody" placeholder="Policies violated" />
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <label for="errorContentType1" class="form-label">Error content type &nbsp; <i
                                                class="bi bi-info-circle" [matTooltip]=securityPolTooltip></i></label>
                                        <input id="errorContentType1" type="text" class="input-size form-control"
                                            formControlName="secReqErrorContentType" placeholder="Text/Plain" />
                                    </div>
                                </div>
                            </div>

                            <div class="row gap-1 feature">
                                <div class="col-sm-12">
                                    <h3>Response Policies</h3>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for="resP" class="form-label">Response Policies &nbsp; &nbsp; <i
                                                class="bi bi-info-circle" [matTooltip]=securityPolTooltip></i></label>
                                        <div class="input-group mb-3">
                                            <input type="text" id="resP" class="form-control"
                                                placeholder="isEmpty(resp_data.message)" aria-label="192.168.0.0/24"
                                                aria-describedby="button-addon2" formControlName="securityResPolicy">
                                            <button class="btn btn-primary" type="button" id="button-addon2"
                                                (click)="addParameter('securityResPolicy')"><i
                                                    class="bi bi-plus-lg"></i></button>
                                        </div>
                                        <div class="mt-3 d-flex flex-wrap gap-1">
                                            <button *ngFor="let attr of parameterArraySecResPolicy; let i = index"
                                                class="parameter-item">
                                                {{ attr }}<mat-icon (click)="removeParameter(i,'securityResPolicy')"
                                                    class="d-flex align-items-center justify-content-end">close</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-4">
                                        <label for="errorStCode2" class="form-label">Error status code &nbsp; <i
                                                class="bi bi-info-circle" [matTooltip]=securityPolTooltip></i> </label>
                                        <input id="errorStCode2" type="number" class="input-size form-control"
                                            formControlName="secResErrorStCode" placeholder="400" />
                                    </div>

                                    <div class="col-sm-12 col-md-4">
                                        <label for="errorBody2" class="form-label">Error body &nbsp; <i
                                                class="bi bi-info-circle" [matTooltip]=securityPolTooltip></i></label>
                                        <input id="errorBody2" type="text" class="input-size form-control"
                                            formControlName="secResErrorBody" placeholder="Policies violated" />
                                    </div>

                                    <div class="col-sm-12 col-md-4">
                                        <label for="errorContentType2" class="form-label">Error content type &nbsp; <i
                                                class="bi bi-info-circle" [matTooltip]=securityPolTooltip></i></label>
                                        <input id="errorContentType2" type="text" class="input-size form-control"
                                            formControlName="secResErrorContentType" placeholder="Text/Plain" />
                                    </div>
                                </div>
                            </div>

                            <div class="row feature">
                                <h3>Jwt validation Policies</h3>
                                <div class="col-sm-4">
                                    <label for="JWT" class="form-label">JWT Policies &nbsp; &nbsp; <i
                                            class="bi bi-info-circle" [matTooltip]=securityPolTooltip></i></label>
                                    <div class="input-group mb-3">
                                        <input type="text" id="JWT" class="form-control"
                                            placeholder="req_params.DocId.starswith('EU')" aria-label="192.168.0.0/24"
                                            aria-describedby="button-addon2" formControlName="jwtReqPolicy">
                                        <button class="btn btn-primary" type="button" id="button-addon2"
                                            (click)="addParameter('jwtReqPolicy')"><i
                                                class="bi bi-plus-lg"></i></button>
                                    </div>
                                    <div class="mt-3 d-flex flex-wrap gap-1">
                                        <button *ngFor="let attr of parameterArrayJwtValReqPolicy; let i = index"
                                            class="parameter-item">
                                            {{ attr }}<mat-icon (click)="removeParameter(i,'jwtReqPolicy')"
                                                class="d-flex align-items-center justify-content-end">close</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="row feature">
                                <h3>Debug and performance</h3>
                                <div class="row">
                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="secPolicies"
                                                formControlName="enableDebug">
                                            <label class="form-check-label" for="secPolicies">
                                                Enable Debug &nbsp; <i class="bi bi-info-circle"
                                                    [matTooltip]=securityPolTooltip></i>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="autoJoin"
                                                formControlName="autoJoinPolicies">
                                            <label class="form-check-label" for="autoJoin">
                                                Auto Join Policies &nbsp; &nbsp; <i class="bi bi-info-circle"
                                                    [matTooltip]=securityPolTooltip></i>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="macros"
                                                formControlName="disableMacros">
                                            <label class="form-check-label" for="macros">
                                                Disable macros &nbsp; &nbsp; <i class="bi bi-info-circle"
                                                    [matTooltip]=securityPolTooltip></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        }
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="formGroupPolicies.value.isRequestSchValidatorActive">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="d-flex justify-content-between toggle-header">
                                    <div>
                                        Request schema validator
                                    </div>
                                    <div>
                                        <mat-slide-toggle class="example-margin" color="blue"
                                            formControlName="isRequestSchValidatorActive">
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        @if (formGroupPolicies.value.isRequestSchValidatorActive) {
                        <div class="col-sm-12 col-md-9">
                            <label for="reqJSON" class="form-label">JSON schema &nbsp; <i class="bi bi-info-circle"
                                    [matTooltip]=securityPolTooltip></i></label>
                            <!-- <textarea json-formatter id="reqJSON" class="static-text-area form-control" formControlName="reqJSONSchema"></textarea> -->
                            <textarea class="form-control custom-textarea" formControlName="reqJSONSchema"
                                style="width: 422px; height: 238px;">
                  </textarea>
                        </div>
                        }
                    </mat-expansion-panel>


                    <mat-expansion-panel (opened)="formGroupPolicies.value.isResponseSchValidatorActive">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="d-flex justify-content-between toggle-header">
                                    <div>
                                        Response schema validator
                                    </div>
                                    <div>
                                        <mat-slide-toggle class="example-margin" color="blue"
                                            formControlName="isResponseSchValidatorActive">
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        @if(formGroupPolicies.value.isResponseSchValidatorActive){
                        <div class="col-sm-12 col-md-9">
                            <label for="reqJSON" class="form-label">JSON schema &nbsp; <i class="bi bi-info-circle"
                                    [matTooltip]=securityPolTooltip></i></label>
                            <!-- <textarea json-formatter id="reqJSON" class="static-text-area form-control" formControlName="reqJSONSchema"></textarea> -->
                            <textarea class="form-control custom-textarea" formControlName="resJSONSchema"
                                style="width: 422px; height: 238px;">
                        change
                    </textarea>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <label for="errorMessage" class="form-label">Error Message</label>
                                <input id="errorMessage" type="text" class="input-size form-control"
                                    formControlName="resSchemaValErrorMsg" placeholder="Policies violated" />
                                <div class="form-text">The error message you want to show<br> when the validation fails.
                                    Leave it
                                    empty<br> to show the JSON-schema validation<br> error.</div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="errorStCode3" class="form-label">Error status code</label>
                                <input id="errorStCode3" type="number" class="input-size form-control"
                                    formControlName="resSchemaValErrorStCode" placeholder="Text/Plain" />
                                <div class="form-text">The HTTP status code you want to set<br> back in the response.
                                </div>
                            </div>

                        </div>
                        }
                    </mat-expansion-panel>
                </mat-accordion>

                <div class="col-sm-12 mt-3">
                    <button class="btn btn-primary" (click)="submit()">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>