<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 sidemenu">
            <mat-nav-list>
                <a mat-list-item routerLink="overview" routerLinkActive="active">
                  <div class="d-flex align-items-center">
                      <span class="mat-icon-styles">
                          <mat-icon aria-hidden="false" aria-label="Example home icon" class="material-symbols-outlined " fontIcon="settings"></mat-icon>
                      </span>
                      <span class="anchor-head">Overview</span>
                  </div>
                  
              </a>
                <a mat-list-item routerLink="parameter" routerLinkActive="active">
                  <div class="d-flex align-items-center">
                      <span class="mat-icon-styles">
                          <mat-icon aria-hidden="false" aria-label="Example home icon" class="material-symbols-outlined " fontIcon="gate"></mat-icon>
                      </span>
                      <span class="anchor-head">Parameters</span>
                  </div>
              </a>
                <a mat-list-item routerLink="auth" routerLinkActive="active">
                  <div class="d-flex align-items-center">
                      <span class="mat-icon-styles">
                          <mat-icon aria-hidden="false" aria-label="Example home icon" class="material-symbols-outlined " fontIcon="add_moderator"></mat-icon>
                      </span>
                      <span class="anchor-head">Auth</span>
                  </div>
                </a>
                <a mat-list-item routerLink="throttling">
                  <div class="d-flex align-items-center">
                      <span class="mat-icon-styles">
                          <mat-icon aria-hidden="false" aria-label="Example home icon" class="material-symbols-outlined " fontIcon="speed"></mat-icon>
                      </span>
                      <span class="anchor-head">Throttling</span>
                  </div>
                </a>
                <a mat-list-item routerLink="policies">
                  <div class="d-flex align-items-center">
                      <span class="mat-icon-styles">
                          <mat-icon aria-hidden="false" aria-label="Example home icon" class="material-symbols-outlined " fontIcon="policy"></mat-icon>
                      </span>
                      <span class="anchor-head">Policies</span>
                  </div>
                </a>
                <a mat-list-item routerLink="response">
                  <div class="d-flex align-items-center">
                      <span class="mat-icon-styles">
                          <mat-icon aria-hidden="false" aria-label="Example home icon" class="material-symbols-outlined " fontIcon="extension"></mat-icon>
                      </span>
                      <span class="anchor-head">Response</span>
                  </div>
                </a>
                <a mat-list-item routerLink="connectivity">
                  <div class="d-flex align-items-center">
                      <span class="mat-icon-styles">
                          <mat-icon aria-hidden="false" aria-label="Example home icon" class="material-symbols-outlined " fontIcon="cloud_circle"></mat-icon>
                      </span>
                      <span class="anchor-head">Connectivity</span>
                  </div>
                </a>
                <a mat-list-item routerLink="openapi">
                  <div class="d-flex align-items-center">
                      <span class="mat-icon-styles">
                          <mat-icon aria-hidden="false" aria-label="Example home icon" class="material-symbols-outlined " fontIcon="table_rows_narrow"></mat-icon>
                      </span>
                      <span class="anchor-head">Open API</span>
                  </div>
                </a>
                <a mat-list-item routerLink="backends">
                  <div class="d-flex align-items-center">
                      <span class="mat-icon-styles">
                          <mat-icon aria-hidden="false" aria-label="Example home icon" class="material-symbols-outlined " fontIcon="wifi_home"></mat-icon>
                      </span>
                      <span class="anchor-head">Backends</span>
                  </div>
                </a>
                <a mat-list-item routerLink="deployments">
                  <div class="d-flex align-items-center">
                      <span class="mat-icon-styles">
                          <mat-icon aria-hidden="false" aria-label="Example home icon" class="material-symbols-outlined " fontIcon="extension"></mat-icon>
                      </span>
                      <span class="anchor-head">Deployments</span>
                  </div>
                </a>
              </mat-nav-list>
        </div>
        <div class="col-sm-10 p-0">
            <div class="about-api-card">
                <div class="row">
                    <div class="col-sm-3 about-name-section">
                        <h3>Pizza Shack</h3>
                        <p>Created by: Admin</p>
                    </div>
                    <div class="col-sm-3 about-name-section">
                        <h3>Draft State</h3>
                        <p>State</p>
                    </div>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
