.sidemenu{
    background: linear-gradient(to right,rgba(5, 35, 48, 1),rgba(10, 40, 52, 0.93));
    /* min-width:220px !important; */
    height:90vh;
  }
  .anchor-head{
    color:white;
  }
  .mat-icon-styles{
    margin-right:12px;
    display: flex;
    
  }
  .mat-icon-styles mat-icon{
    font-size: 20px;
    color: white;
  }
  .about-api-card{
    height:auto;
    border-bottom:1px solid black;
  }
  .about-name-section{
    border-right:1px solid black;
  }