.input-label{
    font-size:13px;
}


.input-size1{
    width: 100%;
    border:1px solid lightgray;
    border-radius: 5px;
}

.cidr-span{
    padding-left: 20px;
}

.parameter-item {
    display: flex;
    align-items: center;
    margin-left: 5px;
    background-color: white;
    color: black;
    border-radius:8px;
    border: 2px solid rgba(151, 71, 255, 1);
    padding: 0px 12px 0px 12px;
  }

.input-con{
    background-color: rgba(255, 255, 255, 1);
    height: auto;
    padding: 30px;
    border: none; /* Remove default border */
    border-radius: 10px; /* Smooth rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: transform 0.2s, box-shadow 0.2s; /* Smooth animation */
}

.description{
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    margin-bottom: 0px;
}

.input-con h3{
    margin-bottom: 0px;
}

.addbutton{
    background-color: rgba(151, 71, 255, 1);
}

.toggle-header{
    width: 100%;
  }