.hostname-div{
    /* background-color: rgba(184, 122, 245, 0.1);
    padding:20px;
    border-radius: 20px; */
}
.addhost-btn{
    background-color: black;
    color:white;
}
.heading-with-toggle h3{
    margin:0px !important;
}
.static-text-area{
    background-color: black;
    width:80%;
    color:white;
}
.parameter-item {
    display: flex;
    align-items: center;
    margin-left: 5px;
    background-color: black;
    color: white;
    border-radius:5px;
    border: none;
  }
  .parameter-item mat-icon {
    font-size: 16px;
  }

  /* response manipulation */
  .menu-list {
    list-style-type: none;
    border-bottom: 1px solid lightgray;
    padding: 0px !important;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .menu-card {
    border-right: 1px solid green;
    /* background-color: rgba(246,245,246,1); */
    /* padding: 0px !important; */
    /* min-height: 85vh; */
  }
  
  .nav-link {
    display: flex;
    align-content: center !important;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 16px;
    height: 100%;
    max-height: 100%;
    justify-content: flex-start;
    max-height: 100%;
  }
  
  .nav-link-inserted {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* height: calc(100% - 3px); */
    height: 45px;
    font-size: 14px;
  
    margin: 0px;
    color: rgba(117, 117, 117, 1);
    text-decoration: none;
    font-size: 16px;
    /* font-weight: 400; */
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    padding: 0 16px;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
  }
  
  .nav-link-inserted:hover {
    color: rgb(108, 107, 107);
  }
  
  .active {
    border-bottom: 2px solid !important;
    color: rgba(133, 20, 245, 1) !important;
    /* transition: border-bottom 0.3s ease-in-out; */
  }
  
  .menu-list li.selected {
    border-bottom: 2px solid rgba(133, 20, 245, 1) !important;
  
  }
  
  .menu-list li.selected a {
    color: rgba(133, 20, 245, 1) !important;
  }
  
  .menu-list li {
    cursor: pointer;
  }
  .exp-info {
    max-height: 200px;
    overflow-y: auto; 
    padding: 10px; 
    background-color: #f0f0f0;
    border-left: 4px solid rgba(133, 20, 245, 1); 
    font-family: monospace; 
  }
  
  .exp-info pre{
    margin-bottom: 0px;
  }
  
  .exp-main h4{
    margin-bottom: 0px;
  }
  
  .fingerprint{
    background: black;
    color: white;
  }
  .main-method{
    background-color: rgb(114, 175, 114);
    height:35px;
    width:110px;
    border-radius: 10px;
  }
  .add-backend{
    background-color:white;
    border-radius:20px;
    padding: 20px;
    column-gap: 20px;
  }