<div class="container">
    <form [formGroup]="formGroupResponseManipulation">
        <div class="row p-2">
            <div class="col-sm-12">
                <h3>Policies</h3>
            </div>
            <div class="col-sm-12">
                <mat-accordion [multi]="true">
                    <mat-expansion-panel (opened)="formGroupResponseManipulation.value.isStaticResponseActive">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="d-flex justify-content-between toggle-header">
                                    <div>
                                        Static Response(stub data)  &nbsp; <i
                                        class="bi bi-info-circle" [matTooltip]=staticresTooltip ></i>
                                    </div>
                                    <div>
                                        <mat-slide-toggle class="example-margin" color="blue"
                                            formControlName="isStaticResponseActive">
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        @if (formGroupResponseManipulation.value.isStaticResponseActive) {
                            <div class="d-flex">
                                <div class="col-sm-6">
                                  <label for="response" class="form-label">Response</label>
                                  <textarea class="static-text-area form-control" formControlName="response"></textarea>
                                  <div class="form-text">Provide the JSON object you want to return (ensure to start and end
                                    with curly braces).</div>
                    
                                </div>
                                <div class="col-sm-6">
                                  <label for="strategy" class="form-label">Strategy</label>
                                  <select class="form-select" aria-label="Default select example" id="strategy" formControlName="strategy">
                                    <option value="always">Always - Present in every response</option>
                                    <option value="success">Success - Present in every non-failed response
                                    </option>
                                    <option value="errored">Errored - Present in every failed response (error
                                      not
                                      nil)</option>
                                    <option value="incomplete" selected="selected">Incomplete - Present in incomplete responses
                                    </option>
                                  </select>
                                </div>
                              </div>     
                        }
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="formGroupResponseManipulation.value.isAdvanceResponseActive">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="d-flex justify-content-between toggle-header">
                                    <div>
                                        Advanced Response Manipulation(JMESPath)
                                    </div>
                                    <div>
                                        <mat-slide-toggle class="example-margin" color="blue"
                                            formControlName="isAdvanceResponseActive">
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        @if (formGroupResponseManipulation.value.isAdvanceResponseActive) {
                            <div class="row">
                                <p>Expression</p>
                                <div class="row">
                                  <div class="col-sm-6">
                                    <input class="input-size form-control" type="text" formControlName="expression"
                                      placeholder="people[?age > `20`].[name, age]" />
                                    <div class="form-text">JMESpath query to execute on returned results of
                                      /v1/huge-fountain/&#123;id_fountain&#125;</div>
                                  </div>
                                </div>
                              </div>
                    
                              <div class="col-sm-12 exp-main">
                                <h4>Example of how JMESpath works</h4>
                              </div>
                              <div class="row">
                                <div class="col-sm-6 exp-main">
                                  <h4>Server Response</h4>
                                  <div class="exp-info">
                                    <h4>
                                      <pre>{{ jsonData | json }}</pre>
                                    </h4>
                                  </div>
                                </div>
                                <div class="col-sm-6 exp-main d-flex flex-column gap-2">
                                  <div>
                                    <h4>Expression</h4>
                                    <div class="exp-info">
                                      <h4>
                                        <pre>students[?age > `18` ].name</pre>
                                      </h4>
                                    </div>
                                  </div>
                                  <div>
                                    <h4>Returned Response</h4>
                                    <div class="exp-info">
                                      <h4>
                                        <pre>["Bill", "Jessica"]</pre>
                                      </h4>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        }   
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="formGroupResponseManipulation.value.regexConReplacerActive">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="d-flex justify-content-between toggle-header">
                                    <div>
                                        Regexp Content Replacer
                                    </div>
                                    <div>
                                        <mat-slide-toggle class="example-margin" color="blue"
                                            formControlName="regexConReplacerActive">
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        @if(formGroupResponseManipulation.value.regexConReplacerActive){
                            <div class="row align-items-center">
                                <div class="col-sm-4">
                                  <label for="findkey" class="form-label">Enter Key Name for Content Replacer</label>
                                  <input type="text" id="findkey" class="form-control" formControlName="contentReplacerKey"
                                    placeholder="e.g., 'hem'">
                                  <div id="keyHelperBlock" class="form-text">
                                    The find expression or literal you want to use
                                  </div>
                                </div>
                                <div class="col-sm-4">
                                  <button type="button" class="btn btn-dark" (click)="createContentReplacerKey()">Create Key</button>
                                </div>
                              </div>
                    
                              <!-- Step 2: Display find, replace, and regexp controls for the created key -->
                              <div *ngIf="isKeyCreated">
                    
                                <div [formGroupName]="'contentReplacer'">
                                  <div class="row align-items-center gap-2"
                                    [formGroupName]="formGroupResponseManipulation.value.contentReplacerKey">
                    
                    
                                    <div class="col-sm-3">
                                      <label for="findkey" class="form-label">Key to replace</label>
                                      <input type="text" id="findkey" class="form-control" formControlName="find">
                                      <div id="keyHelperBlock" class="form-text">
                                        The find expression or literal you want to use
                                      </div>
                                    </div>
                    
                                    <div class="col-sm-3">
                                      <label for="replace" class="form-label">Replace by</label>
                                      <input type="text" id="replace" class="form-control" formControlName="replace">
                                      <div id="replaceHelperBlock" class="form-text">
                                        The find expression or literal you want to use
                                      </div>
                                    </div>
                    
                                    <div class="col-sm-3">
                                      <mat-checkbox class="example-margin" formControlName="regexp">Regexp mode</mat-checkbox>
                                      <div class="form-text">Check if you want to use regular expression instead of a literal string
                                        (faster).
                                      </div>
                                    </div>
                    
                                    <div class="col-sm-12">
                                      <button type="button" class="btn btn-dark" (click)="resetFields()">Delete</button>
                                    </div>
                    
                                  </div>
                                </div>
                              </div>
                        }
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="formGroupResponseManipulation.value.isAdvanceResponseGoActive">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="d-flex justify-content-between toggle-header">
                                    <div>
                                        Response Manipulation with Go templates
                                    </div>
                                    <div>
                                        <mat-slide-toggle class="example-margin" color="blue"
                                            formControlName="isAdvanceResponseGoActive">
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        @if(formGroupResponseManipulation.value.isAdvanceResponseGoActive){
                            <div class="row">
                                <div class="col-md-5 col-sm-12 form-check form-check-inline">
                                  <input class="form-check-input" type="radio" formControlName="bodyEditor" id="inlineRadio1"
                                    value="bodyeditor">
                                  <label class="form-check-label" for="inlineRadio1">Use the inline body editor</label>
                                </div>
                    
                                <div class="col-md-5 col-sm-12 form-check form-check-inline">
                                  <input class="form-check-input" type="radio" formControlName="bodyEditor" id="inlineRadio2"
                                    value="external">
                                  <label class="form-check-label" for="inlineRadio2">An external file</label>
                                </div>
                              </div>
                    
                              <div class="col-sm-8">
                                <label for="exampleFormControlTextarea1" class="form-label">Body Editor</label>
                                <textarea class="form-control fingerprint" id="exampleFormControlTextarea1" rows="3"
                                  formControlName="template"></textarea>
                                <div class="form-text">The response body you will return to the end-user. You can introduce the variables
                                  .resp_headers.xxx, .resp_headers.xxx (with no-op), .resp_status.xxx (with no-op), .resp_body.xxx,
                                  .req_params.Xxx, .req_headers.xxx, .req_querystring.xxx, .req_path</div>
                              </div>
                    
                              <div class="row">
                                <div class="col-sm-6">
                                  <label for="conType" class="form-label">Content Type</label>
                                  <input type="text" id="conType" class="form-control" formControlName="contentType"
                                    placeholder="application/json">
                                  <div id="conTypeBlock" class="form-text">
                                    The Content-Type that you are coding in the template. Defaults to application/json
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <mat-checkbox class="example-margin" formControlName="debug">Enable Debug</mat-checkbox>
                                  <div class="form-text">shows useful information in the logs with DEBUG level about the input received and
                                    the
                                    body generated. Do not enable in production.
                                  </div>
                                </div>
                    
                              </div>
                    
                              <div class="col-sm-6">
                                <label for="path" class="form-label">Path</label>
                                <input type="text" id="path" class="form-control" formControlName="path" placeholder="./file.tmpl.xml">
                                <div id="conTypeBlock" class="form-text">
                                  The Content-Type that you are coding in the template. Defaults to application/json
                                </div>
                              </div>
                        }
                    </mat-expansion-panel>
                </mat-accordion>

                <div class="col-sm-12 mt-3">
                    <button class="btn btn-primary" (click)="submit()">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>
